.main-container {
    background-image: url("images/image.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .songs {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(3, 3, 91, 0.989) 41%, rgba(9, 9, 88, 1) 60%, rgba(31, 60, 122, 0.930) 79%, rgba(0, 0, 0, 0.387) 100%);
    cursor: pointer;
  }

  #search {
    background-color: rgb(146, 146, 155);
  }


  .custom-img {
    cursor: pointer;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .custom-img:hover {
    transform: scale(1.05);
  }

  .songs:hover {
    transform: scale(1.05);
  }

  .col div a {
    text-decoration: none;
    color: #b1b0d2;
  }

  .col div a:hover {
    text-decoration: underline;
    color: white;
  }

  .welcome {
    font-weight: bolder;
  }

  footer {
    background-color: #211f1f;
}

footer a {
    color: #bbb;
    font-weight: 500;
    text-decoration: none;
}

.footer-icons a {
    font-size: 1.5rem;
}

.footer-icons a:hover {
    color: #F1C40F;
}