@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Black&family=Baskervville:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Slabo+27px&display=swap');    
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(120deg, #042949, rgb(44, 24, 100) ,rgb(78, 49, 158),#073a66);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#website-name{
    font-family: "DM Serif Display", serif;
}

.para1{
    color:#E2E2B6;
    font-family: "Archivo Black", sans-serif;
}

.para2{
    color: rgb(255, 149, 49);
}

#search{
    color: white;
    background-color: rgba(15, 11, 11, 0.3);
    border-color: transparent;
    box-shadow: 5px 2px 8px rgb(252, 243, 243);
}

.slider{
    margin: 550px 300px 50px 150px;
}
